ion-segment-button::part(native) {
  font-weight: bold;
}

ion-segment-button {
  --border-style: none;
  --indicator-color: gray;
  --indicator-height: 2px;
  --indicator-transform: translateY(40px);
  --color: gray;
}

.search-toolbar {
  padding-top: 15px;
}

.search-bar {
  --cancel-button-color: rgb(153, 153, 153);
  --placeholder-font-weight: bold;
}

.search-segment {
  --background: var(--ion-color-secondary-contrast);
}

.search-card {
  display: flex;
  height: 80px;
  padding: 0;
}

.search-item {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.search-title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(82, 82, 82);
  padding: 0;
}

.search-category {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-divider {
  margin-left: 0.5rem;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}

.rounded-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-left: 17px;
}

@media (prefers-color-scheme: dark) {
  .search-segment {
    --background: var(--ion-color-step-50);
  }

  .search-category {
    color: var(--ion-color-step-750);
  }

  .section-divider {
    color: var(--ion-color-step-850);
  }

  .search-title {
    color: var(--ion-color-step-900);
  }
}