ion-menu {
  --width: 210px;
}

ion-menu ion-content {
  --background: var(--ion-color-primary);
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.10);
}

ion-menu ion-item ion-label {
  font-weight: 600;
  --color: #616e7e;
}

.crab-icon {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: #fff;
}