ion-menu {
  --width: 210px;
}

ion-menu ion-content {
  --background: var(--ion-color-primary);
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.10);
}

ion-menu ion-item ion-label {
  font-weight: 600;
  --color: #616e7e;
}

.crab-icon {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: #fff;
}

.chatbox {
  position: relative;
}

.chatbox-item {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 50%;
  left: 20%;
  right: 10%;
  transform: translate(-10%, -80%);
}

.chatbox-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 210px;
}

.open-icon {
  color: #fe644c;
  font-size: 16px;
}

@media (min-width: 992px) {
  .chatbox-item {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}

@media (prefers-color-scheme: dark) {
  ion-menu ion-content {
    --background: #fe644c;
  }

  .chatbox-link {
    color: #fe644c;
  }

  .chatbox-icon {
    color: var(--ion-color-step-50);
  }
}