ion-menu ion-content {
  /* --background: var(--ion-item-background, var(--ion-background-color, #fff)); */
  --background: var(--ion-color-primary);
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.10);
}

ion-menu ion-item ion-label {
  font-weight: 600;
  --color: #616e7e;
}