.home-content {
  --padding-bottom: 100px;
}

.hero-container {
  position: relative;
  color: white;
}

.hero-container .bottom-left {
  position: absolute;
  bottom: 36px;
  left: 16px;
  font-size: 26px;
  font-weight: 600;
  margin-right: 30%;
}

.hero-container .bottom-right {
  position: absolute;
  bottom: 36px;
  right: 16px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
}

.center-fab {
  left: 50%;
  transform: translate(-50%, 0%);
}

.search-fab-btn {
  --background-activated: #616e7e;
  --background-activated-opacity: 0.1;
  --background-focused: #616e7e;
  --background-focused-opacity: 0.1;
  --background-hover-opacity: 0.05;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 50px;
}